@use './vars';

.wrap {
  max-width: 79rem;
  margin: 0 1rem;

  @media (min-width: map-get(vars.$breakpoints, "ml")) {
    margin: 0 1.5rem;
  }
  @media (min-width: map-get(vars.$breakpoints, "xl")) {
    margin: 0 auto;
  }
}

.wrap .wrap {
  margin: 0 auto;
}