@use "./vars";

.wrap {
  max-width: 79rem;
  margin: 0 1rem;

  @media (min-width: $bp-ml) {
    margin: 0 1.5rem;
  }
  @media (min-width: $bp-xl) {
    margin: 0 auto;
  }
}

.wrap .wrap {
  margin: 0 auto;
}
